.Progressbar{
    background: var(--breadcrumbs-background);
    min-height: var(--breadcrumbs-height);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    padding-top: 2.44rem;

    &-container{
        height: 5px;
        width: 350px;
        background-color: var(--product-card-text-border-color);
        flex-grow: 1;
        align-self: baseline;
    }

    &-filled{
        background-color: var(--button-background);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        animation: fillProgressbar 1s ease-in 1;
    }
}

.Step {


&-container-last{
    display: none !important;
}


&-container{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


&-number{
    background-color: var(--product-card-text-border-color);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

&-number-selected{
    background-color: var(--button-background);
    animation: colorProgressNumber 2s ease-in;
}

&-title{
    margin-top: 10px;
    margin-bottom: 1rem;
}

&-check-mark {
    font-family: arial;
    display: inline-block;
    margin-top: -2px;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
}

}

@keyframes fillProgressbar {
    from {width: 0%;}
    to {width: 100%;}
  }

  @keyframes colorProgressNumber {
      from{background-color: var(--product-card-text-border-color);}
    to {background-color: var(--button-background);}
  }
  
  