.Checkout {

    &::before {
        @include after-mobile {
            
            display: none;
    }
    }

    &-ProgressBar{
            background: var(--breadcrumbs-background);
            min-height: var(--breadcrumbs-height);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
    }



}

.Step {
    &-number{
        &-ProgressBar{
            background: var(--breadcrumbs-background);
            min-height: var(--breadcrumbs-height);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    }
}
}

